@{
    ViewData["Title"] = "Queue Page";
}

<div class="text-center font-weight-bold">
    <h1 class="display-4 my-3">Очередь пар</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Первый партнер</th>
            <th scope="col">Второй партнер</th>
            <th scope="col">Свидание вслепую?</th>
            <th scope="col">Удалить пару из списка</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Марк</td>
            <td>Лиза</td>
            <td>Да</td>
            <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Влад</td>
            <td>Алиса</td>
            <td>Да</td>
            <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Дима</td>
            <td>Настя</td>
            <td>Нет</td>
            <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success btn-lg btn-block">Отправить всё</button>