@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center font-weight-bold">
    <h1 class="display-4">Тестовая отправка по url</h1>
</div>

<form id="form-send-message"
      method="post"
      data-ajax="true"
      data-ajax-success="onSuccess"
      data-ajax-failure="onError">
    <div class="form-group">
        <label> Получатель </label>
        <input class="form-control" name="recipient"/>
    </div>
    <div class="form-group">
        <label> Сообщение </label>
        <input class="form-control" name="message"/>
    </div>
    <div class="flex-grow-0">
        <div id="result-form-send-message">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Отправить сообщения</button>
</form>

<script>
    function onSuccess(context) {
        $('#form-send-message')[0].reset();
        
        $.ajax('@Url.Action("Success", "ResponseModels")', {    
            data: { message: context },  
            type: 'GET',  
            contentType: 'application/html; charset=utf-8',  
            success: function (response) {  
                $('#result-form-send-message').html(response);
            },
            failure: function () {  
                $('#result-form-send-message').html(context);
            },
            
        });
    }
        
    function onError(context) {
        $.ajax('@Url.Action("Error", "ResponseModels")', {  
            data: { message: context.responseText },  
            type: 'GET',  
            contentType: 'application/html; charset=utf-8',  
            success: function (response) {  
                $('#result-form-send-message').html(response);
            },
            failure: function (jqXHR, textStatus, errorThrown) {
                $('#result-form-send-message').html(context.responseText);
            }  
        });
    }
</script>